header{
    margin: 0%;
    position: absolute;
    width: 100%;
    z-index: 10;
}


ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    li {
        a{
            font-size: 25px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }
    
    }
 
}